@media (max-width: 992px) {
  .tablesor {
  display:flex;
  flex-flow:column wrap;
  text-align:center;
  }
  
  .busestable > thead {
    display:none;
  }
  
  .thumbnailkep {
  width:50%;
  margin-top:10px;
  margin-bottom:5px;
  }
  
  .dijaktext {
  text-align:center;
  }
  
  .middletd {
  text-align:center;
  }
  
  .th {
  padding-top:0;
  padding-bottom:0;
  }
  }
  
  @media (min-width: 992px) {
  .middletd {
  width:60%;
  }
  
  .thumbnailkep {
  width:75%;
  }
  
  .dijaktext {
  text-align:right;
  }
  
  .seatsphotos {
  width:70%;
  }
  
  .keprow {
  width:20%;
  }
  }
    
  .thumbnailkep:hover {
  -moz-transform:scale(1.05,1.05);
  -webkit-transform:scale(1.05,1.05);
  transform:scale(1.05,1.05);
  }
  
  .muzeumcardbody {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  overflow:hidden;
  background-color:#fff;
  transition:all 1s;
  cursor:pointer;
  }
  
  .muzeumcardbody.close {
  top:100%;
  transition:all 1s;
  -moz-transition:all 1s;
  -webkit-transition:all 1s;
  height:4rem;
  margin-top:-4rem;
  border-bottom-left-radius:.6rem!important;
  border-bottom-right-radius:.6rem!important;
  opacity:.85;
  }
    
  .muzeumbtn:hover {
  -moz-transform:scale(1.09,1.09);
  -webkit-transform:scale(1.09,1.09);
  transform:scale(1.09,1.09);
  }

  .busimg:hover{
    opacity: 0.92;
  }

  @media (max-width: 1200px) and (min-width: 577px) {
    .bustitle {
      font-size: smaller !important;
    }
    .muzeumcardbody {
      padding: 1rem !important;
    }
  }

  @media (max-width: 767px) and (min-width: 577px) {
    .muzeumcardbody {
      padding: 0.5rem !important;
    }
    .muzeumcardbody.close {
      height: 2rem !important;
      margin-top: -2rem !important;
    }
  }

  
.ReactModal__Overlay {
  z-index: 1031 !important;
}

.ril-caption {
  justify-content: flex-end !important;
}